@import "./colors";
@import "./buttons";
@import "./mixins";
.women-section {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/pexels-gotta-be-worth-it-919278.jpg");
    background-position: center;
    background-size: cover;
    .header {
        @include flex-center;
        flex-direction: column;
        font-size: 2rem;
        color: $main-color;
        h1 {
            @include p-text-show;
        }
        p {
            color: $main-color;
        }
    }
    .look {
        margin: 15rem;
        text-align: center;
        color: $main-color;
        font-size: 5rem;
        p {
            font-size: 6rem;
            @include p-text-show;
        }
        button {
            @include button;
        }
        button:hover {
            @include hover;
        }
    }
}